.list-view {
    -fx-background-color: #232323;
}

.list-view .list-cell:hover {
    -fx-background-color: #434343;
}

.list-view .list-cell:selected {
    -fx-background-color: #434343;
}

.list-view .list-cell {
    -fx-background-color: #232323;
    -fx-text-fill: white;
}

.list-view .label {
    -fx-text-fill: white;
}

.button:hover, .toggle-button:hover {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em;
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}

.scroll-pane {
    -fx-background-color: black;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #434343;
    -fx-background-radius: 5em;
}
.scroll-pane > .corner {
    -fx-background-color: transparent;
}

.dialog-pane{
  -fx-border-color: #292929;
  -fx-border-width:2.0px;
 }

.dialog-pane > .button-bar > .container {
  -fx-background-color: #292929;
}

.dialog-pane > .content.label {
   -fx-padding: 0.5em 0.5em 0.5em 0.5em;
   -fx-background-color: #292929;
   -fx-text-fill:#dddddd;
   -fx-font-size:15.0px;
}

.dialog-pane:header .header-panel {
  -fx-background-color: #333333;
}

.dialog-pane:header .header-panel .label{
  -fx-background-color: #333333;
  -fx-background-radius:10px;
  -fx-text-fill:#dddddd;
  -fx-font-size:15.0px;
}

.dialog-pane .button{
   -fx-background-color: #666666;
   -fx-text-fill:#dddddd;
   -fx-wrap-text: true;
   -fx-cursor:hand;
 }

.dialog-pane .button:hover{     
  -fx-background-color:#666666;
  -fx-text-fill:#dddddd;
  -fx-font-weight:bold; 
 }

.scroll-pane > .viewport {
  -fx-background-color: transparent;
}

.scroll-pane {
   -fx-background-color: #292929;
}